*{margin: 0px;color: black;font-family: sans-serif;}
body{
    width: 100vw;
    overflow-x: hidden;
    overflow-y: scroll;
}

#mcs-customScroll{
    /* background: url(path.png);
    background-size: 100% 100%;
    background-position: top left;
    background-attachment: local; */

    overflow: hidden;
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-rows: 100vh 100vh;
    grid-template-columns: 100vw 100vw;
    grid-template-areas:'a d'
                        'b c';
}
#mcs-customScroll div:nth-child(1){grid-area: a;}
#mcs-customScroll div:nth-child(2){grid-area: b;}
#mcs-customScroll div:nth-child(3){grid-area: c;}
#mcs-customScroll div:nth-child(4){grid-area: d;}

.down{background:#06BEE1;}
.right{background:#1768AC;}
.left{background:#054081;}
.up{background:#263A4B;}

.center{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
h1,a,p{
    text-align: center;
    display: block;
}
h1{font-size: 40px;}
a{font-size: 20px;padding-top: 50px;}
p{font-size: 30px;}
.white{color:white};